body {
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', 'sans-serif';
}

figure {
  margin: 0;
}

.post {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 40px;
  padding: 0 30px;
}

.post img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
